*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-image: url(../images/banner-image.png);
    border-radius: 16px;
    
}
.banner-text{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding: 177px;
    
}
.happy-new-year{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.party-celebration{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
