*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-image: url(../images/banner-image.png);
    border-radius: 16px; 
}
.banner-text{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding: 177px;
    
}
.happy-new-year{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.party-celebration{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}
.holiday-deal{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.all-category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cat-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding-top: 48px;
    align-items: center;
}
.mid-night{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-image: url(../images/mid-night.png);
    border-radius: 16px;
    display: flex;
}
.mid-party-text{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 126px;
    padding-left: 126px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 126px;
}
.join-btn{
    margin-left: 158px;
    margin-top: 48px;
    border-radius: 5px;
    border: 0;
    background: #61f50c;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}
.join-btn:hover {
    background-color: #3e8e41;
    color: #FFF;
}

.midnight-img{
    padding-right: 135px;
    padding-top: 70px; 
}
.mid-text{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

/* Event section */
.event{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    display: flex;
}
.event-text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize; 
    padding: 100px 385px 214px 385px;
}
.event-btn{
    margin-top: 64px;
    border-radius: 5px;
    border: 0;
    background: #61f50c;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}
.event-btn:hover {
    background-color: #3e8e41;
    color: #FFF;
}

/* Holiday section*/
.container-holiday{
    width: 1320px;
    height: auto;
    margin: 50px auto;
    border-radius: 16px;
    display: flex;
}
.function{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-left: 385px;
    padding-right: 385px;
}
.holiday-sales{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
    padding-bottom: 22px;
    text-align: center;
    padding-left: 285px;
    padding-right: 285px;
}
.holiday-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-left: 385px;
    padding-right: 385px;
}
.holiday-img{
    padding-top: 48px;
    padding-bottom: 120px;
}
.holiday-img div{
    min-width: 300px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom: 24px;
}
.holiday-img img{
    width: auto;
}

/* portfolio section*/
.container-portfolio{
    width: 1320px;
    height: auto;
    margin: 50px auto;
    border-radius: 16px;
    display: flex;
}
.best-gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.awesome{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
    padding-bottom: 22px;
}
.best-gift-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.portfolio-img{
    padding-top: 48px;
    padding-bottom: 120px;
}
.portfolio-img div{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding-bottom: 24px;
}
..portfolio-img img{
    width: 100%;
}

/* subscribe form */
.subscribe-form{
    width: 1320px;
    height: 600px;
    margin: auto;
    background: border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    padding-top: 80px;
}
.subscribe-form input{
    width: 648px;
    height: 70px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    padding-left: 60px;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    flex-grow: 1;
}
.subscribe-form-btn{
    width: auto;
    height: auto;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    background: #FF0000;
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 25px 25px 25px 25px;
}
.subscribe-form-btn:hover{
    background-color: #3e8e41;
    color: #FFF;
}
.form-text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize; 
}
.newsletter-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize; 
}
.newsletter-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 22px 212px 48px 212px;
}

/* footer section */
footer{
    width: 100%;
    height: 609px;
    margin-top: 120px;
    background: #070211;
}
.section1{
    width: 100%;
    height: auto;
    margin: auto;
    background: #070211;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.section2{
    width: 100%;
    height: auto;
    margin: auto;
    background: #070211;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.section3{
    width: 100%;
    height: auto;
    margin: auto;
    background: #070211;
    display: flex;
    justify-content: space-between;
}
.addrs{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 48px;
    padding-left: 140px;
    padding-right: 140px;
}
.tel{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 48px;
    padding-left: 140px;
    padding-right: 140px;
}
.social-links{
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 48px;
    padding-left: 40%;
    padding-right: 140px;
}
.rights{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 48px;
    padding-left: 140px;
    padding-right: 140px;
}
.unsubs{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
}
